.Rhistory
cover_letter*
submission/*.pdf
manuscript_files
manuscript_cache
_bookdown_files
supplement_files
supplement_cache
rsconnect
.scratch
.Rproj.user
code/shiny/data
Rplots.*
data/raw
renv/library
renv/staging
\#*
.\#*
*.tiff
*.png
*.log
*~
*.tex
*.spl
